[submodule "windows-opengl/source/libraries/tia-Exceptio"]
	path = windows-opengl/source/libraries/tia-Exceptio
	url = git@github.com:ilyata76/tia-Exceptio.git
[submodule "windows-opengl/source/libraries/freeglut"]
	path = windows-opengl/source/libraries/freeglut
	url = https://github.com/FreeGLUTProject/freeglut.git
